.elementor-2111 .elementor-element.elementor-element-831f656 {
    --display: flex;
    --min-height: 550px;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --flex-wrap-mobile: wrap;
    --justify-content: center;
    --overlay-opacity: 0.75;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 15px;
    --padding-right: 15px;
}

.elementor-2111 .elementor-element.elementor-element-831f656:not(.elementor-motion-effects-element-type-background),
.elementor-2111 .elementor-element.elementor-element-831f656>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-image: url("../../2024/08/banner-2.jpg");
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
}

.elementor-2111 .elementor-element.elementor-element-831f656::before,
.elementor-2111 .elementor-element.elementor-element-831f656>.elementor-background-video-container::before,
.elementor-2111 .elementor-element.elementor-element-831f656>.e-con-inner>.elementor-background-video-container::before,
.elementor-2111 .elementor-element.elementor-element-831f656>.elementor-background-slideshow::before,
.elementor-2111 .elementor-element.elementor-element-831f656>.e-con-inner>.elementor-background-slideshow::before,
.elementor-2111 .elementor-element.elementor-element-831f656>.elementor-motion-effects-container>.elementor-motion-effects-layer::before {
    background-color: var(--e-global-color-primary);
    --background-overlay: '';
}

.elementor-2111 .elementor-element.elementor-element-831f656>.elementor-shape-bottom .elementor-shape-fill,
.elementor-2111 .elementor-element.elementor-element-831f656>.e-con-inner>.elementor-shape-bottom .elementor-shape-fill {
    fill: var(--e-global-color-ad41708);
}

.elementor-2111 .elementor-element.elementor-element-831f656>.elementor-shape-bottom svg,
.elementor-2111 .elementor-element.elementor-element-831f656>.e-con-inner>.elementor-shape-bottom svg {
    width: calc(100% + 1.3px);
    height: 105px;
}

.elementor-2111 .elementor-element.elementor-element-c534288 {
    --display: flex;
    --margin-top: 100px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --margin-right: 0px;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-2111 .elementor-element.elementor-element-e19aa27 {
    text-align: center;
}

.elementor-2111 .elementor-element.elementor-element-e19aa27 .elementor-heading-title {
    font-family: serif, var(--e-global-typography-primary-font-family), Sans-serif;
    font-size: var(--e-global-typography-primary-font-size);
    font-weight: var(--e-global-typography-primary-font-weight);
    line-height: var(--e-global-typography-primary-line-height);
    color: var(--e-global-color-21bfb04);
}

.elementor-2111 .elementor-element.elementor-element-67b008f {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --flex-wrap-mobile: wrap;
    --padding-top: 100px;
    --padding-bottom: 135px;
    --padding-left: 15px;
    --padding-right: 15px;
}

.elementor-2111 .elementor-element.elementor-element-67b008f:not(.elementor-motion-effects-element-type-background),
.elementor-2111 .elementor-element.elementor-element-67b008f>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: var(--e-global-color-ad41708);
}

.elementor-2111 .elementor-element.elementor-element-74e4e8d {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --flex-wrap-mobile: wrap;
    --justify-content: flex-end;
    --margin-top: 0px;
    --margin-bottom: -300px;
    --margin-left: 0px;
    --margin-right: 0px;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
    --z-index: 99;
}

.elementor-2111 .elementor-element.elementor-element-d641f5a {
    --display: flex;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-2111 .elementor-element.elementor-element-cd34a05 {
    z-index: 1;
}

.elementor-2111 .elementor-element.elementor-element-cd34a05 .elementskit-section-title-wraper .elementskit-section-title {
    color: var(--e-global-color-primary);
    margin: 0px 0px 20px 0px;
    font-family: serif, var(--e-global-typography-61eed76-font-family), Sans-serif;
    font-size: var(--e-global-typography-61eed76-font-size);
    font-weight: var(--e-global-typography-61eed76-font-weight);
    text-transform: var(--e-global-typography-61eed76-text-transform);
    line-height: var(--e-global-typography-61eed76-line-height);
}

.elementor-2111 .elementor-element.elementor-element-cd34a05 .elementskit-section-title-wraper .elementskit-section-title>span {
    color: #000000;
}

.elementor-2111 .elementor-element.elementor-element-cd34a05 .elementskit-section-title-wraper .elementskit-section-title:hover>span {
    color: #000000;
}

.elementor-2111 .elementor-element.elementor-element-cd34a05 .elementskit-section-title-wraper .elementskit-section-subtitle {
    color: var(--e-global-color-primary);
    font-family: var(--e-global-typography-3d09356-font-family), Sans-serif;
    font-size: var(--e-global-typography-3d09356-font-size);
    font-weight: var(--e-global-typography-3d09356-font-weight);
    margin: 0px 0px 15px 0px;
}

.elementor-2111 .elementor-element.elementor-element-cd34a05 .elementskit-section-title-wraper p {
    color: var(--e-global-color-text);
    font-family: var(--e-global-typography-text-font-family), Sans-serif;
    font-size: var(--e-global-typography-text-font-size);
    font-weight: var(--e-global-typography-text-font-weight);
    line-height: var(--e-global-typography-text-line-height);
    margin: 0px 0px 0px 0px;
}

.elementor-2111 .elementor-element.elementor-element-cd34a05 .elementskit-section-title-wraper .elementskit-border-divider {
    width: 25px;
    background: var(--e-global-color-secondary);
}

.elementor-2111 .elementor-element.elementor-element-cd34a05 .elementskit-section-title-wraper .elementskit-border-divider.elementskit-style-long {
    width: 25px;
    height: 2px;
    color: var(--e-global-color-secondary);
}

.elementor-2111 .elementor-element.elementor-element-cd34a05 .elementskit-section-title-wraper .elementskit-border-star {
    width: 25px;
    height: 2px;
    color: var(--e-global-color-secondary);
}

.elementor-2111 .elementor-element.elementor-element-cd34a05 .elementskit-section-title-wraper .elementskit-border-divider,
.elementor-2111 .elementor-element.elementor-element-cd34a05 .elementskit-border-divider::before {
    height: 2px;
}

.elementor-2111 .elementor-element.elementor-element-cd34a05 .elementskit-section-title-wraper .ekit_heading_separetor_wraper {
    margin: 0px 0px 25px 0px;
}

.elementor-2111 .elementor-element.elementor-element-cd34a05 .elementskit-section-title-wraper .elementskit-border-divider:before {
    background-color: var(--e-global-color-secondary);
    color: var(--e-global-color-secondary);
}

.elementor-2111 .elementor-element.elementor-element-cd34a05 .elementskit-section-title-wraper .elementskit-border-star:after {
    background-color: var(--e-global-color-secondary);
}

.elementor-2111 .elementor-element.elementor-element-220970b {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --flex-wrap-mobile: wrap;
    --gap: 60px 60px;
    --row-gap: 60px;
    --column-gap: 60px;
    --margin-top: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --margin-right: 0px;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-2111 .elementor-element.elementor-element-1de9170 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --flex-wrap-mobile: wrap;
    --gap: 0px 0px;
    --row-gap: 0px;
    --column-gap: 0px;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-2111 .elementor-element.elementor-element-4f86c60 {
    --display: flex;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-2111 .elementor-element.elementor-element-f73dec7>.elementor-widget-container {
    margin: 0px -75px 0px 0px;
}

.elementor-2111 .elementor-element.elementor-element-f73dec7 {
    z-index: 999;
}

.elementor-2111 .elementor-element.elementor-element-f73dec7 img {
    border-radius: 30px 30px 30px 30px;
}

.elementor-2111 .elementor-element.elementor-element-f872f93 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --flex-wrap-mobile: wrap;
    --border-radius: 100px 100px 100px 100px;
    box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.15);
    --margin-top: 020px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --margin-right: 0px;
    --padding-top: 20px;
    --padding-bottom: 20px;
    --padding-left: 30px;
    --padding-right: 20px;
    --z-index: 99999;
}

.elementor-2111 .elementor-element.elementor-element-f872f93:not(.elementor-motion-effects-element-type-background),
.elementor-2111 .elementor-element.elementor-element-f872f93>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: var(--e-global-color-secondary);
}

.elementor-2111 .elementor-element.elementor-element-b799e22>.elementor-widget-container {
    border-style: none;
    border-radius: 100px 100px 100px 100px;
}

.elementor-2111 .elementor-element.elementor-element-b799e22 img {
    width: 100%;
}

.elementor-2111 .elementor-element.elementor-element-0218889 .elementskit-section-title-wraper .elementskit-section-title {
    color: var(--e-global-color-21bfb04);
    margin: 0px 0px 5px 0px;
    font-family: var(--e-global-typography-ba6914a-font-family), Sans-serif;
    font-size: var(--e-global-typography-ba6914a-font-size);
    font-weight: var(--e-global-typography-ba6914a-font-weight);
    line-height: var(--e-global-typography-ba6914a-line-height);
}

.elementor-2111 .elementor-element.elementor-element-0218889 .elementskit-section-title-wraper .elementskit-section-title>span {
    color: #000000;
}

.elementor-2111 .elementor-element.elementor-element-0218889 .elementskit-section-title-wraper .elementskit-section-title:hover>span {
    color: #000000;
}

.elementor-2111 .elementor-element.elementor-element-0218889 .elementskit-section-title-wraper p {
    color: var(--e-global-color-ad41708);
    font-family: var(--e-global-typography-text-font-family), Sans-serif;
    font-size: var(--e-global-typography-text-font-size);
    font-weight: var(--e-global-typography-text-font-weight);
    line-height: var(--e-global-typography-text-line-height);
    margin: 0px 0px 0px 0px;
}

.elementor-2111 .elementor-element.elementor-element-40d2be2 {
    --display: flex;
    --justify-content: flex-end;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-2111 .elementor-element.elementor-element-65d65a8>.elementor-widget-container {
    margin: 0px 0px -35px -50px;
}

.elementor-2111 .elementor-element.elementor-element-65d65a8 {
    z-index: 9999;
}

.elementor-2111 .elementor-element.elementor-element-65d65a8 img {
    border-style: solid;
    border-width: 10px 10px 10px 10px;
    border-color: var(--e-global-color-ad41708);
    border-radius: 30px 30px 30px 30px;
}

.elementor-2111 .elementor-element.elementor-element-bc42881 {
    --display: flex;
    --justify-content: flex-end;
    --margin-top: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --margin-right: 0px;
    --padding-top: 0px;
    --padding-bottom: 45px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-2111 .elementor-element.elementor-element-34972a6>.elementor-widget-container {
    background-color: var(--e-global-color-21bfb04);
    padding: 20px 20px 20px 20px;
    border-radius: 30px 30px 30px 30px;
}

.elementor-2111 .elementor-element.elementor-element-34972a6 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
    padding-bottom: calc(10px/2);
}

.elementor-2111 .elementor-element.elementor-element-34972a6 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
    margin-top: calc(10px/2);
}

.elementor-2111 .elementor-element.elementor-element-34972a6 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
    margin-right: calc(10px/2);
    margin-left: calc(10px/2);
}

.elementor-2111 .elementor-element.elementor-element-34972a6 .elementor-icon-list-items.elementor-inline-items {
    margin-right: calc(-10px/2);
    margin-left: calc(-10px/2);
}

body.rtl .elementor-2111 .elementor-element.elementor-element-34972a6 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    left: calc(-10px/2);
}

body:not(.rtl) .elementor-2111 .elementor-element.elementor-element-34972a6 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    right: calc(-10px/2);
}

.elementor-2111 .elementor-element.elementor-element-34972a6 .elementor-icon-list-icon i {
    color: var(--e-global-color-secondary);
    transition: color 0.3s;
}

.elementor-2111 .elementor-element.elementor-element-34972a6 .elementor-icon-list-icon svg {
    fill: var(--e-global-color-secondary);
    transition: fill 0.3s;
}

.elementor-2111 .elementor-element.elementor-element-34972a6 {
    --e-icon-list-icon-size: 14px;
    --icon-vertical-offset: 0px;
}

.elementor-2111 .elementor-element.elementor-element-34972a6 .elementor-icon-list-icon {
    padding-right: 5px;
}

.elementor-2111 .elementor-element.elementor-element-34972a6 .elementor-icon-list-item>.elementor-icon-list-text,
.elementor-2111 .elementor-element.elementor-element-34972a6 .elementor-icon-list-item>a {
    font-family: var(--e-global-typography-text-font-family), Sans-serif;
    font-size: var(--e-global-typography-text-font-size);
    font-weight: var(--e-global-typography-text-font-weight);
    line-height: var(--e-global-typography-text-line-height);
}

.elementor-2111 .elementor-element.elementor-element-34972a6 .elementor-icon-list-text {
    color: var(--e-global-color-text);
    transition: color 0.3s;
}

.elementor-2111 .elementor-element.elementor-element-600a15b {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --flex-wrap-mobile: wrap;
    --gap: 0px 0px;
    --row-gap: 0px;
    --column-gap: 0px;
    --margin-top: 20px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --margin-right: 0px;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-2111 .elementor-element.elementor-element-5c748ca {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --flex-wrap-mobile: wrap;
    border-style: solid;
    --border-style: solid;
    border-width: 0px 1px 0px 0px;
    --border-top-width: 0px;
    --border-right-width: 1px;
    --border-bottom-width: 0px;
    --border-left-width: 0px;
    border-color: #113D4814;
    --border-color: #113D4814;
    --margin-top: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --margin-right: 0px;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-2111 .elementor-element.elementor-element-1b3a188.elementor-element {
    --align-self: flex-start;
}

.elementor-2111 .elementor-element.elementor-element-1b3a188 img {
    border-radius: 100px 100px 100px 100px;
}

.elementor-2111 .elementor-element.elementor-element-5dc4f2b.elementor-element {
    --align-self: center;
}

.elementor-2111 .elementor-element.elementor-element-5dc4f2b .elementskit-section-title-wraper .elementskit-section-title {
    color: var(--e-global-color-primary);
    margin: 0px 0px 10px 0px;
    font-family: var(--e-global-typography-f500460-font-family), Sans-serif;
    font-size: var(--e-global-typography-f500460-font-size);
    font-weight: var(--e-global-typography-f500460-font-weight);
    line-height: var(--e-global-typography-f500460-line-height);
}

.elementor-2111 .elementor-element.elementor-element-5dc4f2b .elementskit-section-title-wraper .elementskit-section-title>span {
    color: #000000;
}

.elementor-2111 .elementor-element.elementor-element-5dc4f2b .elementskit-section-title-wraper .elementskit-section-title:hover>span {
    color: #000000;
}

.elementor-2111 .elementor-element.elementor-element-5dc4f2b .elementskit-section-title-wraper .elementskit-section-subtitle {
    color: var(--e-global-color-text);
    font-family: var(--e-global-typography-3d09356-font-family), Sans-serif;
    font-size: var(--e-global-typography-3d09356-font-size);
    font-weight: var(--e-global-typography-3d09356-font-weight);
    margin: 0px 0px 0px 0px;
}

.elementor-2111 .elementor-element.elementor-element-ad7712e {
    --display: flex;
    --justify-content: center;
    --align-items: flex-end;
    --container-widget-width: calc((1 - var(--container-widget-flex-grow)) * 100%);
    --margin-top: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --margin-right: 0px;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-2111 .elementor-element.elementor-element-fb55f25 {
    --display: flex;
    --padding-top: 0px;
    --padding-bottom: 100px;
    --padding-left: 15px;
    --padding-right: 15px;
}

.elementor-2111 .elementor-element.elementor-element-469abbb {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --flex-wrap-mobile: wrap;
    --gap: 80px 80px;
    --row-gap: 80px;
    --column-gap: 80px;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-2111 .elementor-element.elementor-element-eeffa91 {
    --display: flex;
    --padding-top: 80px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-2111 .elementor-element.elementor-element-0ee4839 {
    z-index: 1;
}

.elementor-2111 .elementor-element.elementor-element-0ee4839 .elementskit-section-title-wraper .elementskit-section-title {
    color: var(--e-global-color-primary);
    margin: 0px 0px 20px 0px;
    font-family: serif, var(--e-global-typography-61eed76-font-family), Sans-serif;
    font-size: var(--e-global-typography-61eed76-font-size);
    font-weight: var(--e-global-typography-61eed76-font-weight);
    text-transform: var(--e-global-typography-61eed76-text-transform);
    line-height: var(--e-global-typography-61eed76-line-height);
}

.elementor-2111 .elementor-element.elementor-element-0ee4839 .elementskit-section-title-wraper .elementskit-section-title>span {
    color: #000000;
}

.elementor-2111 .elementor-element.elementor-element-0ee4839 .elementskit-section-title-wraper .elementskit-section-title:hover>span {
    color: #000000;
}

.elementor-2111 .elementor-element.elementor-element-0ee4839 .elementskit-section-title-wraper p {
    color: var(--e-global-color-text);
    font-family: var(--e-global-typography-text-font-family), Sans-serif;
    font-size: var(--e-global-typography-text-font-size);
    font-weight: var(--e-global-typography-text-font-weight);
    line-height: var(--e-global-typography-text-line-height);
    margin: 0px 0px 0px 0px;
}

.elementor-2111 .elementor-element.elementor-element-ac705a3 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --flex-wrap-mobile: wrap;
    --gap: 0px 0px;
    --row-gap: 0px;
    --column-gap: 0px;
    border-style: none;
    --border-style: none;
    --border-radius: 30px 30px 30px 30px;
    box-shadow: 0px 30px 50px 0px rgba(0, 0, 0, 0.15);
    --margin-top: 20px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --margin-right: 0px;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-2111 .elementor-element.elementor-element-c1f4293 {
    --display: flex;
    border-style: solid;
    --border-style: solid;
    border-width: 0px 1px 0px 0px;
    --border-top-width: 0px;
    --border-right-width: 1px;
    --border-bottom-width: 0px;
    --border-left-width: 0px;
    border-color: #113D4812;
    --border-color: #113D4812;
    --padding-top: 30px;
    --padding-bottom: 30px;
    --padding-left: 30px;
    --padding-right: 30px;
}

.elementor-2111 .elementor-element.elementor-element-b9b6fd1 .elementskit-section-title-wraper .elementskit-section-title {
    color: var(--e-global-color-primary);
    margin: 0px 0px 10px 0px;
    font-family: var(--e-global-typography-f500460-font-family), Sans-serif;
    font-size: var(--e-global-typography-f500460-font-size);
    font-weight: var(--e-global-typography-f500460-font-weight);
    line-height: var(--e-global-typography-f500460-line-height);
}

.elementor-2111 .elementor-element.elementor-element-b9b6fd1 .elementskit-section-title-wraper .elementskit-section-title>span {
    color: #000000;
}

.elementor-2111 .elementor-element.elementor-element-b9b6fd1 .elementskit-section-title-wraper .elementskit-section-title:hover>span {
    color: #000000;
}

.elementor-2111 .elementor-element.elementor-element-b9b6fd1 .elementskit-section-title-wraper p {
    color: var(--e-global-color-text);
    font-family: var(--e-global-typography-text-font-family), Sans-serif;
    font-size: var(--e-global-typography-text-font-size);
    font-weight: var(--e-global-typography-text-font-weight);
    line-height: var(--e-global-typography-text-line-height);
    margin: 0px 0px 0px 0px;
}

.elementor-2111 .elementor-element.elementor-element-148dc03 {
    --display: flex;
    --padding-top: 30px;
    --padding-bottom: 30px;
    --padding-left: 30px;
    --padding-right: 30px;
}

.elementor-2111 .elementor-element.elementor-element-af4f364 .elementskit-section-title-wraper .elementskit-section-title {
    color: var(--e-global-color-primary);
    margin: 0px 0px 10px 0px;
    font-family: var(--e-global-typography-f500460-font-family), Sans-serif;
    font-size: var(--e-global-typography-f500460-font-size);
    font-weight: var(--e-global-typography-f500460-font-weight);
    line-height: var(--e-global-typography-f500460-line-height);
}

.elementor-2111 .elementor-element.elementor-element-af4f364 .elementskit-section-title-wraper .elementskit-section-title>span {
    color: #000000;
}

.elementor-2111 .elementor-element.elementor-element-af4f364 .elementskit-section-title-wraper .elementskit-section-title:hover>span {
    color: #000000;
}

.elementor-2111 .elementor-element.elementor-element-af4f364 .elementskit-section-title-wraper p {
    color: var(--e-global-color-text);
    font-family: var(--e-global-typography-text-font-family), Sans-serif;
    font-size: var(--e-global-typography-text-font-size);
    font-weight: var(--e-global-typography-text-font-weight);
    line-height: var(--e-global-typography-text-line-height);
    margin: 0px 0px 0px 0px;
}

.elementor-2111 .elementor-element.elementor-element-4c27416 {
    --display: flex;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-2111 .elementor-element.elementor-element-aadb57f>.elementor-widget-container {
    margin: -100px 0px 0px 0px;
}

.elementor-2111 .elementor-element.elementor-element-aadb57f {
    text-align: right;
}

.elementor-2111 .elementor-element.elementor-element-aadb57f img {
    border-radius: 30px 30px 30px 30px;
}

.elementor-2111 .elementor-element.elementor-element-d2d3e1a {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --flex-wrap-mobile: wrap;
    --gap: 80px 80px;
    --row-gap: 80px;
    --column-gap: 80px;
    --margin-top: 40px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --margin-right: 0px;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-2111 .elementor-element.elementor-element-fde1e94 {
    --display: flex;
    --overlay-opacity: 0.75;
    --border-radius: 30px 30px 30px 30px;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-2111 .elementor-element.elementor-element-fde1e94:not(.elementor-motion-effects-element-type-background),
.elementor-2111 .elementor-element.elementor-element-fde1e94>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-image: url("../../2024/08/image-26.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.elementor-2111 .elementor-element.elementor-element-fde1e94::before,
.elementor-2111 .elementor-element.elementor-element-fde1e94>.elementor-background-video-container::before,
.elementor-2111 .elementor-element.elementor-element-fde1e94>.e-con-inner>.elementor-background-video-container::before,
.elementor-2111 .elementor-element.elementor-element-fde1e94>.elementor-background-slideshow::before,
.elementor-2111 .elementor-element.elementor-element-fde1e94>.e-con-inner>.elementor-background-slideshow::before,
.elementor-2111 .elementor-element.elementor-element-fde1e94>.elementor-motion-effects-container>.elementor-motion-effects-layer::before {
    background-color: var(--e-global-color-primary);
    --background-overlay: '';
}

.elementor-2111 .elementor-element.elementor-element-fbb4c92 {
    --spacer-size: 100px;
}

.elementor-2111 .elementor-element.elementor-element-9f0a197 .ekit-video-popup-btn {
    background-color: var(--e-global-color-secondary);
    width: 80px;
    height: 80px;
    line-height: 60px;
    color: #ffffff;
}

.elementor-2111 .elementor-element.elementor-element-9f0a197 .ekit-video-popup-btn:hover {
    background-color: var(--e-global-color-fc28385);
    color: #ffffff;
}

.elementor-2111 .elementor-element.elementor-element-9f0a197 .video-content {
    text-align: center;
}

.elementor-2111 .elementor-element.elementor-element-9f0a197 .ekit-video-popup-btn i {
    font-size: 20px;
}

.elementor-2111 .elementor-element.elementor-element-9f0a197 .ekit-video-popup-btn svg {
    max-width: 20px;
}

.elementor-2111 .elementor-element.elementor-element-9f0a197 .ekit-video-popup-btn.glow-btn:before {
    color: var(--e-global-color-secondary);
}

.elementor-2111 .elementor-element.elementor-element-9f0a197 .ekit-video-popup-btn.glow-btn:after {
    color: var(--e-global-color-secondary);
}

.elementor-2111 .elementor-element.elementor-element-9f0a197 .ekit-video-popup-btn.glow-btn>i:after {
    color: var(--e-global-color-secondary);
}

.elementor-2111 .elementor-element.elementor-element-9f0a197 .ekit-video-popup-btn svg path {
    stroke: #ffffff;
    fill: #ffffff;
}

.elementor-2111 .elementor-element.elementor-element-9f0a197 .ekit-video-popup-btn:hover svg path {
    stroke: #ffffff;
    fill: #ffffff;
}

.elementor-2111 .elementor-element.elementor-element-b189d92 {
    --spacer-size: 100px;
}

.elementor-2111 .elementor-element.elementor-element-3091b95 {
    --display: flex;
    --justify-content: center;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-2111 .elementor-element.elementor-element-a663582 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --flex-wrap-mobile: wrap;
    --gap: 0px 0px;
    --row-gap: 0px;
    --column-gap: 0px;
    border-style: none;
    --border-style: none;
    --border-radius: 30px 30px 30px 30px;
    box-shadow: 0px 30px 50px 0px rgba(0, 0, 0, 0.15);
    --margin-top: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --margin-right: 0px;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-2111 .elementor-element.elementor-element-14173ec {
    --display: flex;
    border-style: solid;
    --border-style: solid;
    border-width: 0px 1px 0px 0px;
    --border-top-width: 0px;
    --border-right-width: 1px;
    --border-bottom-width: 0px;
    --border-left-width: 0px;
    border-color: #113D4812;
    --border-color: #113D4812;
    --padding-top: 30px;
    --padding-bottom: 30px;
    --padding-left: 30px;
    --padding-right: 30px;
}

.elementor-2111 .elementor-element.elementor-element-3db6fb1 .elementskit-section-title-wraper .elementskit-section-title {
    color: var(--e-global-color-primary);
    margin: 0px 0px 10px 0px;
    font-family: var(--e-global-typography-f500460-font-family), Sans-serif;
    font-size: var(--e-global-typography-f500460-font-size);
    font-weight: var(--e-global-typography-f500460-font-weight);
    line-height: var(--e-global-typography-f500460-line-height);
}

.elementor-2111 .elementor-element.elementor-element-3db6fb1 .elementskit-section-title-wraper .elementskit-section-title>span {
    color: #000000;
}

.elementor-2111 .elementor-element.elementor-element-3db6fb1 .elementskit-section-title-wraper .elementskit-section-title:hover>span {
    color: #000000;
}

.elementor-2111 .elementor-element.elementor-element-3db6fb1 .elementskit-section-title-wraper p {
    color: var(--e-global-color-text);
    font-family: var(--e-global-typography-text-font-family), Sans-serif;
    font-size: var(--e-global-typography-text-font-size);
    font-weight: var(--e-global-typography-text-font-weight);
    line-height: var(--e-global-typography-text-line-height);
    margin: 0px 0px 0px 0px;
}

.elementor-2111 .elementor-element.elementor-element-d5ca75f {
    --display: flex;
    --padding-top: 30px;
    --padding-bottom: 30px;
    --padding-left: 30px;
    --padding-right: 30px;
}

.elementor-2111 .elementor-element.elementor-element-5352ef7 .elementskit-section-title-wraper .elementskit-section-title {
    color: var(--e-global-color-primary);
    margin: 0px 0px 10px 0px;
    font-family: var(--e-global-typography-f500460-font-family), Sans-serif;
    font-size: var(--e-global-typography-f500460-font-size);
    font-weight: var(--e-global-typography-f500460-font-weight);
    line-height: var(--e-global-typography-f500460-line-height);
}

.elementor-2111 .elementor-element.elementor-element-5352ef7 .elementskit-section-title-wraper .elementskit-section-title>span {
    color: #000000;
}

.elementor-2111 .elementor-element.elementor-element-5352ef7 .elementskit-section-title-wraper .elementskit-section-title:hover>span {
    color: #000000;
}

.elementor-2111 .elementor-element.elementor-element-5352ef7 .elementskit-section-title-wraper p {
    color: var(--e-global-color-text);
    font-family: var(--e-global-typography-text-font-family), Sans-serif;
    font-size: var(--e-global-typography-text-font-size);
    font-weight: var(--e-global-typography-text-font-weight);
    line-height: var(--e-global-typography-text-line-height);
    margin: 0px 0px 0px 0px;
}

.elementor-2111 .elementor-element.elementor-element-6312b72>.elementor-widget-container {
    margin: 20px 0px 0px 0px;
}

.elementor-2111 .elementor-element.elementor-element-6312b72 {
    color: var(--e-global-color-text);
    font-family: var(--e-global-typography-text-font-family), Sans-serif;
    font-size: var(--e-global-typography-text-font-size);
    font-weight: var(--e-global-typography-text-font-weight);
    line-height: var(--e-global-typography-text-line-height);
}

@media(max-width:1024px) {
    .elementor-2111 .elementor-element.elementor-element-c534288 {
        --margin-top: 40px;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --margin-right: 0px;
    }

    .elementor-2111 .elementor-element.elementor-element-e19aa27 .elementor-heading-title {
        font-size: var(--e-global-typography-primary-font-size);
        line-height: var(--e-global-typography-primary-line-height);
    }

    .elementor-2111 .elementor-element.elementor-element-74e4e8d {
        --margin-top: 0px;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --margin-right: 0px;
    }

    .elementor-2111 .elementor-element.elementor-element-cd34a05>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }

    .elementor-2111 .elementor-element.elementor-element-cd34a05 .elementskit-section-title-wraper .elementskit-section-title {
        font-size: var(--e-global-typography-61eed76-font-size);
        line-height: var(--e-global-typography-61eed76-line-height);
    }

    .elementor-2111 .elementor-element.elementor-element-cd34a05 .elementskit-section-title-wraper .elementskit-section-subtitle {
        font-size: var(--e-global-typography-3d09356-font-size);
    }

    .elementor-2111 .elementor-element.elementor-element-cd34a05 .elementskit-section-title-wraper p {
        font-size: var(--e-global-typography-text-font-size);
        line-height: var(--e-global-typography-text-line-height);
    }

    .elementor-2111 .elementor-element.elementor-element-cd34a05 .elementskit-section-title-wraper .ekit_heading_separetor_wraper {
        margin: 0px 0px 25px 25px;
    }

    .elementor-2111 .elementor-element.elementor-element-220970b {
        --justify-content: center;
        --flex-wrap: wrap;
        --margin-top: 30px;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --margin-right: 0px;
    }

    .elementor-2111 .elementor-element.elementor-element-0218889 .elementskit-section-title-wraper .elementskit-section-title {
        font-size: var(--e-global-typography-ba6914a-font-size);
        line-height: var(--e-global-typography-ba6914a-line-height);
    }

    .elementor-2111 .elementor-element.elementor-element-0218889 .elementskit-section-title-wraper p {
        font-size: var(--e-global-typography-text-font-size);
        line-height: var(--e-global-typography-text-line-height);
    }

    .elementor-2111 .elementor-element.elementor-element-34972a6 .elementor-icon-list-item>.elementor-icon-list-text,
    .elementor-2111 .elementor-element.elementor-element-34972a6 .elementor-icon-list-item>a {
        font-size: var(--e-global-typography-text-font-size);
        line-height: var(--e-global-typography-text-line-height);
    }

    .elementor-2111 .elementor-element.elementor-element-5c748ca {
        --justify-content: center;
    }

    .elementor-2111 .elementor-element.elementor-element-5dc4f2b .elementskit-section-title-wraper .elementskit-section-title {
        font-size: var(--e-global-typography-f500460-font-size);
        line-height: var(--e-global-typography-f500460-line-height);
    }

    .elementor-2111 .elementor-element.elementor-element-5dc4f2b .elementskit-section-title-wraper .elementskit-section-subtitle {
        font-size: var(--e-global-typography-3d09356-font-size);
    }

    .elementor-2111 .elementor-element.elementor-element-ad7712e {
        --align-items: center;
        --container-widget-width: calc((1 - var(--container-widget-flex-grow)) * 100%);
    }

    .elementor-2111 .elementor-element.elementor-element-469abbb {
        --flex-direction: column-reverse;
        --container-widget-width: calc((1 - var(--container-widget-flex-grow)) * 100%);
        --container-widget-height: initial;
        --container-widget-flex-grow: 0;
        --container-widget-align-self: initial;
        --flex-wrap-mobile: wrap;
        --align-items: center;
        --flex-wrap: wrap;
    }

    .elementor-2111 .elementor-element.elementor-element-eeffa91 {
        --padding-top: 0px;
        --padding-bottom: 0px;
        --padding-left: 0px;
        --padding-right: 0px;
    }

    .elementor-2111 .elementor-element.elementor-element-0ee4839>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }

    .elementor-2111 .elementor-element.elementor-element-0ee4839 .elementskit-section-title-wraper .elementskit-section-title {
        font-size: var(--e-global-typography-61eed76-font-size);
        line-height: var(--e-global-typography-61eed76-line-height);
    }

    .elementor-2111 .elementor-element.elementor-element-0ee4839 .elementskit-section-title-wraper p {
        font-size: var(--e-global-typography-text-font-size);
        line-height: var(--e-global-typography-text-line-height);
    }

    .elementor-2111 .elementor-element.elementor-element-b9b6fd1 .elementskit-section-title-wraper .elementskit-section-title {
        font-size: var(--e-global-typography-f500460-font-size);
        line-height: var(--e-global-typography-f500460-line-height);
    }

    .elementor-2111 .elementor-element.elementor-element-b9b6fd1 .elementskit-section-title-wraper p {
        font-size: var(--e-global-typography-text-font-size);
        line-height: var(--e-global-typography-text-line-height);
    }

    .elementor-2111 .elementor-element.elementor-element-af4f364 .elementskit-section-title-wraper .elementskit-section-title {
        font-size: var(--e-global-typography-f500460-font-size);
        line-height: var(--e-global-typography-f500460-line-height);
    }

    .elementor-2111 .elementor-element.elementor-element-af4f364 .elementskit-section-title-wraper p {
        font-size: var(--e-global-typography-text-font-size);
        line-height: var(--e-global-typography-text-line-height);
    }

    .elementor-2111 .elementor-element.elementor-element-d2d3e1a {
        --flex-wrap: wrap;
    }

    .elementor-2111 .elementor-element.elementor-element-3db6fb1 .elementskit-section-title-wraper .elementskit-section-title {
        font-size: var(--e-global-typography-f500460-font-size);
        line-height: var(--e-global-typography-f500460-line-height);
    }

    .elementor-2111 .elementor-element.elementor-element-3db6fb1 .elementskit-section-title-wraper p {
        font-size: var(--e-global-typography-text-font-size);
        line-height: var(--e-global-typography-text-line-height);
    }

    .elementor-2111 .elementor-element.elementor-element-5352ef7 .elementskit-section-title-wraper .elementskit-section-title {
        font-size: var(--e-global-typography-f500460-font-size);
        line-height: var(--e-global-typography-f500460-line-height);
    }

    .elementor-2111 .elementor-element.elementor-element-5352ef7 .elementskit-section-title-wraper p {
        font-size: var(--e-global-typography-text-font-size);
        line-height: var(--e-global-typography-text-line-height);
    }

    .elementor-2111 .elementor-element.elementor-element-6312b72 {
        text-align: center;
        font-size: var(--e-global-typography-text-font-size);
        line-height: var(--e-global-typography-text-line-height);
    }
}

@media(max-width:767px) {
    .elementor-2111 .elementor-element.elementor-element-831f656 {
        --min-height: 400px;
    }

    .elementor-2111 .elementor-element.elementor-element-c534288 {
        --margin-top: 70px;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --margin-right: 0px;
    }

    .elementor-2111 .elementor-element.elementor-element-e19aa27 .elementor-heading-title {
        font-size: var(--e-global-typography-primary-font-size);
        line-height: var(--e-global-typography-primary-line-height);
    }

    .elementor-2111 .elementor-element.elementor-element-cd34a05 .elementskit-section-title-wraper .elementskit-section-title {
        font-size: var(--e-global-typography-61eed76-font-size);
        line-height: var(--e-global-typography-61eed76-line-height);
    }

    .elementor-2111 .elementor-element.elementor-element-cd34a05 .elementskit-section-title-wraper .elementskit-section-subtitle {
        font-size: var(--e-global-typography-3d09356-font-size);
    }

    .elementor-2111 .elementor-element.elementor-element-cd34a05 .elementskit-section-title-wraper p {
        font-size: var(--e-global-typography-text-font-size);
        line-height: var(--e-global-typography-text-line-height);
    }

    .elementor-2111 .elementor-element.elementor-element-f73dec7>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
    }

    .elementor-2111 .elementor-element.elementor-element-f872f93 {
        --gap: 0px 15px;
        --row-gap: 0px;
        --column-gap: 15px;
        --margin-top: 20px;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --margin-right: 0px;
    }

    .elementor-2111 .elementor-element.elementor-element-b799e22 img {
        width: 85%;
    }

    .elementor-2111 .elementor-element.elementor-element-0218889 .elementskit-section-title-wraper .elementskit-section-title {
        font-size: var(--e-global-typography-ba6914a-font-size);
        line-height: var(--e-global-typography-ba6914a-line-height);
    }

    .elementor-2111 .elementor-element.elementor-element-0218889 .elementskit-section-title-wraper p {
        font-size: var(--e-global-typography-text-font-size);
        line-height: var(--e-global-typography-text-line-height);
    }

    .elementor-2111 .elementor-element.elementor-element-65d65a8>.elementor-widget-container {
        margin: 20px 0px 0px 0px;
    }

    .elementor-2111 .elementor-element.elementor-element-34972a6 .elementor-icon-list-item>.elementor-icon-list-text,
    .elementor-2111 .elementor-element.elementor-element-34972a6 .elementor-icon-list-item>a {
        font-size: var(--e-global-typography-text-font-size);
        line-height: var(--e-global-typography-text-line-height);
    }

    .elementor-2111 .elementor-element.elementor-element-5c748ca {
        border-width: 0px 0px 1px 0px;
        --border-top-width: 0px;
        --border-right-width: 0px;
        --border-bottom-width: 1px;
        --border-left-width: 0px;
        --padding-top: 0px;
        --padding-bottom: 20px;
        --padding-left: 0px;
        --padding-right: 0px;
    }

    .elementor-2111 .elementor-element.elementor-element-5dc4f2b .elementskit-section-title-wraper .elementskit-section-title {
        font-size: var(--e-global-typography-f500460-font-size);
        line-height: var(--e-global-typography-f500460-line-height);
    }

    .elementor-2111 .elementor-element.elementor-element-5dc4f2b .elementskit-section-title-wraper .elementskit-section-subtitle {
        font-size: var(--e-global-typography-3d09356-font-size);
    }

    .elementor-2111 .elementor-element.elementor-element-ad7712e {
        --padding-top: 20px;
        --padding-bottom: 0px;
        --padding-left: 0px;
        --padding-right: 0px;
    }

    .elementor-2111 .elementor-element.elementor-element-0ee4839 .elementskit-section-title-wraper .elementskit-section-title {
        font-size: var(--e-global-typography-61eed76-font-size);
        line-height: var(--e-global-typography-61eed76-line-height);
    }

    .elementor-2111 .elementor-element.elementor-element-0ee4839 .elementskit-section-title-wraper p {
        font-size: var(--e-global-typography-text-font-size);
        line-height: var(--e-global-typography-text-line-height);
    }

    .elementor-2111 .elementor-element.elementor-element-c1f4293 {
        border-width: 0px 0px 1px 0px;
        --border-top-width: 0px;
        --border-right-width: 0px;
        --border-bottom-width: 1px;
        --border-left-width: 0px;
    }

    .elementor-2111 .elementor-element.elementor-element-b9b6fd1 .elementskit-section-title-wraper .elementskit-section-title {
        font-size: var(--e-global-typography-f500460-font-size);
        line-height: var(--e-global-typography-f500460-line-height);
    }

    .elementor-2111 .elementor-element.elementor-element-b9b6fd1 .elementskit-section-title-wraper p {
        font-size: var(--e-global-typography-text-font-size);
        line-height: var(--e-global-typography-text-line-height);
    }

    .elementor-2111 .elementor-element.elementor-element-af4f364 .elementskit-section-title-wraper .elementskit-section-title {
        font-size: var(--e-global-typography-f500460-font-size);
        line-height: var(--e-global-typography-f500460-line-height);
    }

    .elementor-2111 .elementor-element.elementor-element-af4f364 .elementskit-section-title-wraper p {
        font-size: var(--e-global-typography-text-font-size);
        line-height: var(--e-global-typography-text-line-height);
    }

    .elementor-2111 .elementor-element.elementor-element-d2d3e1a {
        --gap: 40px 0px;
        --row-gap: 40px;
        --column-gap: 0px;
        --margin-top: 20px;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --margin-right: 0px;
    }

    .elementor-2111 .elementor-element.elementor-element-9f0a197 .ekit-video-popup-btn i {
        font-size: 20px;
    }

    .elementor-2111 .elementor-element.elementor-element-9f0a197 .ekit-video-popup-btn svg {
        max-width: 20px;
    }

    .elementor-2111 .elementor-element.elementor-element-9f0a197 .ekit-video-popup-btn {
        width: 80px;
        height: 80px;
        line-height: 60px;
    }

    .elementor-2111 .elementor-element.elementor-element-14173ec {
        border-width: 0px 0px 1px 0px;
        --border-top-width: 0px;
        --border-right-width: 0px;
        --border-bottom-width: 1px;
        --border-left-width: 0px;
    }

    .elementor-2111 .elementor-element.elementor-element-3db6fb1 .elementskit-section-title-wraper .elementskit-section-title {
        font-size: var(--e-global-typography-f500460-font-size);
        line-height: var(--e-global-typography-f500460-line-height);
    }

    .elementor-2111 .elementor-element.elementor-element-3db6fb1 .elementskit-section-title-wraper p {
        font-size: var(--e-global-typography-text-font-size);
        line-height: var(--e-global-typography-text-line-height);
    }

    .elementor-2111 .elementor-element.elementor-element-5352ef7 .elementskit-section-title-wraper .elementskit-section-title {
        font-size: var(--e-global-typography-f500460-font-size);
        line-height: var(--e-global-typography-f500460-line-height);
    }

    .elementor-2111 .elementor-element.elementor-element-5352ef7 .elementskit-section-title-wraper p {
        font-size: var(--e-global-typography-text-font-size);
        line-height: var(--e-global-typography-text-line-height);
    }

    .elementor-2111 .elementor-element.elementor-element-6312b72 {
        font-size: var(--e-global-typography-text-font-size);
        line-height: var(--e-global-typography-text-line-height);
    }
}

@media(min-width:768px) {
    .elementor-2111 .elementor-element.elementor-element-d641f5a {
        --width: 65%;
    }

    .elementor-2111 .elementor-element.elementor-element-f872f93 {
        --width: 300px;
    }

    .elementor-2111 .elementor-element.elementor-element-5c748ca {
        --width: 60%;
    }

    .elementor-2111 .elementor-element.elementor-element-ad7712e {
        --width: 40%;
    }

    .elementor-2111 .elementor-element.elementor-element-eeffa91 {
        --width: 55%;
    }

    .elementor-2111 .elementor-element.elementor-element-4c27416 {
        --width: 45%;
    }

    .elementor-2111 .elementor-element.elementor-element-fde1e94 {
        --width: 45%;
    }

    .elementor-2111 .elementor-element.elementor-element-3091b95 {
        --width: 55%;
    }
}

@media(max-width:1024px) and (min-width:768px) {
    .elementor-2111 .elementor-element.elementor-element-d641f5a {
        --width: 100%;
    }

    .elementor-2111 .elementor-element.elementor-element-1de9170 {
        --width: 500px;
    }

    .elementor-2111 .elementor-element.elementor-element-eeffa91 {
        --width: 100%;
    }

    .elementor-2111 .elementor-element.elementor-element-4c27416 {
        --width: 60%;
    }

    .elementor-2111 .elementor-element.elementor-element-fde1e94 {
        --width: 100%;
    }

    .elementor-2111 .elementor-element.elementor-element-3091b95 {
        --width: 100%;
    }
}